<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300&family=Playpen+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <form method="POST" action="/signin">
    <h2>Sign In</h2>
    <input type="text" name="phoneNumber" placeholder="Phone Number" required>
    <button type="submit">Sign In</button>
    <p>Don't have an account?<a href="/signup">Sign Up</a></p>
  </form>
</body>
</html>
